*{
   font-family: sans-serif;
   width:100%;
   box-sizing: border-box;
}
body{
    background-color: #18181b;
    width: 100%;
    heigth: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    max-width: 600px;
    margin-bottom: 24px;
}
.container-input{
    max-width: 480px;
    margin: 14px 0;
}
.container-input span{
    color: white;
    font-size: 22px;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: white;
    height: 18px;
    outline: none;
    margin-top: 8px;

}
.button-cta{
    heigth: 48px;
    background-color: green;
    border: 8;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    fot-size: 20px;
}
.container-password{
    max-width: 488px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.title{
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom:8px;
}

.password{
    heigth: 68px;
    background-color: rgb(44, 42, 42);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    transition: transform 0.5s;

}
.password:hover{
    transform: scale(1.05);
}
.tooltip{
     color: white;
     position: relative;
     top: 20px;
     padding: 6px 8px;
     background: black;
     font-size: 16px;
     border-radius: 6px;




}